*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    min-width: 15px;
    max-width: auto;
    min-height: 15px;
    max-height: auto;


}
.mainpage{
    margin: 0px 40px 0px 40px;
}



li{
    display: inline-block;
    

    
}
li> a{
    text-decoration: none;
    color: black;
}

.contianer{
background-color: rgb(236, 230, 230);
word-spacing: 10Px;
padding: 2Px 2Px 2Px 30Px;
margin: 0;
font-size: small;
opacity: 0.9;
font-weight: 400;




}
ul> .pic{
    width: 15px;
    height:16px;
}
ul> .pic::before{
    opacity: 1;
    
}
.top_right{
    margin: 0px;
    background-color:  rgb(236, 230, 230);
    border: 0px solid  rgb(236, 230, 230);
    padding: 2px 2px 2px 500px;

    
    
}

.second_top_container{
    display: flex;
    border: 2px solid rgb(236, 230, 230);
    height: 90px;
    
    
    
    
    
    
   
    
}

.second_b1{
    
    
    position:relative;
    border: 1px solid  rgb(236, 230, 230);
    font-size: 30px;
    text-align: center;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    top: 25px;
    left: 650px;
    background-color: white;
}


.Logo{
    
    width: 200px;
    margin: 20px 0 20px 40px;
    
    
}
.Third{
    display: flex;
    
}

.third_div_left{
    width: 50%;
    display: inline-block;
    opacity: 0.9;
    margin: 70px 0px 40px 0px;
    
    

}
.third_h1{
    width: 100%;
    font-size: 2.5em;
    position: relative;
    padding: 30px 0px 0px 0px ;
    font: weight 30px;
    
    
}
.third_h2{
    width: 100%;
    padding: 30px 0px 0px 0px ;
    font-size: 21px;
    
}
.third_p1{
    width: 100%;    
    font-size: 1em;
    font-size: 19px;
    padding: 20px 0px 0px 0px ;

}
.third_button{
    padding: 15px 35px 15px 35px;
    font-weight: 500;
    font-size: medium;
    border-radius: 5px;
    opacity: 0.8;
    border:1px solid black ;
    background-color: white;    
    margin: 20px 0px 0px 0px;
    
    
}

.span_1{
    color:#A3D165;



}
.third_div_right{
    width: 60%;
    display: inline-block;
    margin: 80px 0px 40px 140px;
    
}
.top_right_pic{
    width: 100%;

}
.span_2{
 color: #0D6DB9;
}

.forth_div {
    height: 210px;
    display: flex;
    border-radius: 10px;
    background-color: #F0FCDB;
    
}
.forth_left_div{
    width: 20%;
    margin: 30px 30px 30px 30px;


}
.forth_h4{

    padding: 20px 0px 0px 0px;
}
.forth_right_div{
    width: 70%;
    justify-content: space-between;
    margin: 20px 0px 0px 10px;
    
}
.forth_buttons{
    padding: 15px 35px 15px 35px;
    font-size: medium;
    text-align: center;
    border-radius: 5px;
    background-color: white;    
    margin: 20px 15px 10px 15px;
    border: none;
}

.forth_button_1{
    padding: 15px 35px 15px 35px;
    font-size: medium;
    text-align: center;
    border-radius: 5px;
    background-color: #A3D165;    
    margin: 20px 0px 0px 15px;
    border: none;
    color: white;
}
.Fifth_div{
    text-align: center;
    margin: 60px auto ;
}
.sixth_div{
    height: 200px;
    display: flex;
    

}
/* Sixth Sub div1 */
.Sixth_div1{
    margin: 0px 10px 0px 0px;
}

.sixth_1{
    background-color: #F0FCDB;
    padding:  25px 29px 70px 29px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    width: 60px;
    
}

.Sixth_h1{
    font-size: 18px;
    position: relative;
    bottom: 60px;
    left: 30px;
    
}
/* Sixth Sub div2 */

.Sixth_div2{
    width: 140px;
    height: 175px;
    margin: 0px 10px 0px 10px;
    
    
}

.sixth_2{
    background-color: #F0FCDB;
    padding:  25px 35px 65px 35px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    width: 60px;
 
}
.Sixth_h2{
    font-size: 18px;
    position: relative;
    bottom: 60px;
    left: 35px;
    
}

/* Sixth Sub div3 */

.Sixth_div3{
    width: 140px;
    height: 175px;
    margin: 0px 10px 0px 10px;  
    
}


.sixth_3{
    background-color: #F0FCDB;
    width: 40px;
    padding:  25px 40px 100px 40px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
}
.Sixth_h3{
    font-size: 18px;
    position: relative;
    bottom: 80px;
    left: 35px;
    
    
}
.Sixth_h3_2{
    font-size: 18px;
    position: relative;
    bottom: 75px;
    left: 30px;

}
/* Sixth Sub div4 */

.Sixth_div4{
    
    margin: 0px 10px 0px 0px;  
    
}


.sixth_4{
    background-color: #F0FCDB;
    padding:  25px 35px 70px 35px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    width: 65px;
}
.Sixth_h4{
    font-size: 18px;
    position: relative;
    bottom: 60px;
    left: 32px;
    
}

/* Sixth Sub div5 */

.Sixth_div5{
    
    margin: 0px 10px 0px 10px;  
    
}

.sixth_5{
    background-color: #F0FCDB;
    padding:  25px 29px 75px 29px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    width: 75px;

}
.Sixth_h5{
    font-size: 18px;
    position: relative;
    bottom: 60px;
    left: 28px;
    
}
/* Sixth Sub div6 */

.Sixth_div6{
    margin: 0px 0px 0px 10px;  
}

.sixth_6{
    background-color: #F0FCDB;
    padding:  25px 29px 70px 29px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
}
.Sixth_h6{
    font-size: 18px;
    position: relative;
    bottom: 60px;
    left: 50px;
    
}

.seventh_div{
    display: flex;
    
}
.seventh_div1  {
    border:  1px solid blue;
    border-radius: 10px;
    display: flex;
    width: 300px;
    height: 330px;
    background-position:-100px;
    background-size: 490px;  
    backdrop-filter: 12px;
    animation-delay: 0.1s;
    
    

}
.seventh_div2{
    
   
}
.div_image{
    background-color: grey;

}
.div_image1{
    height: 330px;
    width: 300px;
    opacity: 0.8;
   
    
}

.seventh_h1{
    position: relative;
    left: 10px;
    top: 0px; 
    
    
}